<div class="container">
  <div class="top-fixed">
    <app-filter [applicationArea]="applicationArea"></app-filter>
    <div class="action-buttons">
      <u><a class="btns" mat-button  (click)="accordion.openAll()">Expand All</a></u>
      <u><a class="btns" mat-button (click)="accordion.closeAll()">Collapse All</a></u>
    </div>
  </div>
  <div *ngIf="!noRecords; else noRecordsTemplate" class="bottom-scrollable">
    <mat-accordion class="headers-align" multi>
      <mat-expansion-panel *ngFor="let subject of subjects">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ subject }} </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="groupedObjectives[subject]" class="mat-table" matSort>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Learning Objective </th>
            <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
          </ng-container>

          <ng-container matColumnDef="totalExercises">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Exercises </th>
            <td mat-cell *matCellDef="let element"> {{ element.totalExercises }} </td>
          </ng-container>

          <ng-container matColumnDef="averageProgress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Average Progress (%) </th>
            <td mat-cell *matCellDef="let element"> {{ element.averageProgress }} </td>
          </ng-container>

          <ng-container matColumnDef="correctAnswersPercentage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Correct Answers (%) </th>
            <td mat-cell *matCellDef="let element"> {{ element.correctAnswersPercentage }}  
              <mat-progress-bar mode="determinate" [value]="element.correctAnswersPercentage"
              color="accent"></mat-progress-bar></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<ng-template #noRecordsTemplate>
  <div class="not-found-content">
    <p><b>No Records Found.</b></p>
    <img src="../../../assets/no-records.PNG">
  </div>
</ng-template>
